:root {
    --green: rgba(49, 192, 44, 1);
}

a {
    color: var(--green);
}

.btn-success:hover {
    background: rgb(2, 61, 0);
}

.iq-sidebar-menu .iq-menu .sidebar-item:hover>a {
    background: #fff;
    color: #199101 !important;
    border-radius: 25px;
}

nav .logout-btn:hover {
    background: red;
    border-color: red;
}

nav .ri-more-2-fill:before {
    color: var(--green);
}

nav .ri-fullscreen-line:before {
    color: var(--green);
}

nav .ri-fullscreen-exit-line:before {
    color: var(--green);
}

.wrapper-menu {
    line-height: 72px;
}

.iq-sub-dropdown .iq-card .iq-card-body a {
    display: block;
    padding: 1rem;
}

.iq-sub-dropdown .iq-card .iq-card-body a:hover {
    color: rgb(2, 61, 0) !important;
}

.iq-card-body {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.formpage .form .iq-card-body {
    display: block;
    flex-direction: column;
}

.formpage .form .iq-card-body .form-row {
    margin-bottom: 2rem;
}

.iq-card .count h1 {
    font-size: 4rem !important;
}

.iq-card .count h3 {
    margin-top: -15px;
}

.card-title {
    font-weight: 600;
}

.custom-control-input:checked~.custom-control-label::before {
    background: var(--green);
}

/* Khusus User Edit */
.form-row .form-gambar {
    display: flex;
    align-items: center;
}

.form-row .form-gambar img {
    margin: 0 1rem 0 0;
    border-radius: 25%;
}

/* Sign In & Sign Up */
.sign-in-page .row .sign-in-details,
.sign-up-page .row .sign-up-details {
    display: flex; 
    align-items: center; 
    justify-content: center;
    flex-direction: column;
}

.sign-in-page .row .sign-in-details h1,
.sign-up-page .row .sign-up-details h1 {
    color: white;
    font-weight: 600;
}


/* Table Head ( TH ) Center */
thead tr th {
    text-align: center !important;
}

/* sign up & sign in page */
@media screen AND (max-width: 767px) {
    .sign-in-page,
    .sign-up-page {
        padding: 1.5rem;
    }

    .sign-in-from,
    .sign-up-from {
        border-radius: 0px 0 37px 37px ;
    }
    
    .sign-in-page .row .sign-in-details,
    .sign-up-page .row .sign-up-details {
        padding: 1.5rem 0;
    }

    .sign-in-page .row .sign-in-details img,
    .sign-up-page .row .sign-up-details img {
        width: 30%;
    }

    .sign-in-page .row .sign-in-details h1,
    .sign-up-page .row .sign-up-details h1 {
        font-size: 1rem;
    }

    .sign-in-from h1 ,
    .sign-up-from h1 {
        text-align: center;
        font-size: 2rem;
    }

    .sign-up-from {
        padding: 20px;
    }

    .sign-up-page .row {
        flex-direction: column-reverse;
    }

    .sign-up-page .sign-up-page-bg::after {
        left: 0;
    }

    .sign-up-detail {
        height: auto;
    }
}


@media screen AND (max-width: 767px) {
    .iq-top-navbar .navbar {
        display: flex !important;
    }

    .close_sidebar {
        display: block !important;
    }
}